.nested-fields

  .row.b
    .col-md-12
      .row
        .col-md-offset-11.col-md-1.tcenter= link_to_remove_association "&times;".html_safe, f, :class => "close"
      .row
        .col-md-12
          .field
            %input.imgC{:hidden => true, :id => "x1"}
            %input.imgC{:hidden => true, :id => "y1"}
            %input.imgC{:hidden => true, :id => "x2"}
            %input.imgC{:hidden => true, :id => "y3"}
            %input.imgC{:hidden => true, :id => "w"}
            %input.imgC{:hidden => true, :id => "h"}
            = ffile f, :data, id: "imgInp", type: "file" , class: "fileIn"
            %img#imgO{:alt => "your image", :src => "#{link_image(f)}",:width => "25%"}
          -# %input#imgInp{:type => "file"}
          -#   = ftext f, :name #, class: "input-auto"
          -# .col-md-3
          -#   - [:italic, :bold, :fixed, :serif, :fraktur].each do |c|
          -#     = fcheck f, c
      .row
        .col-md-12
          %hr
